body{
	background-color:lightgrey;

}

img{
	display: block;
	Margin-left: auto;
	Margin-right: auto;
	width: 8%;
}

.Menubar {
	display:flex;
	justify-content: flex-end;
	background-color: white;
	overflow:hidden;
	padding:10px;
}

.Menubar a{
	float: right;
	color: black;
	text-align: center;
	margin-right:2rem;
	text-decoration: none;
	font-size: 17px;
}

.Menubar a:hover{
	color: grey;
}